Cycler
Pillow
awslambdaric
#cPython
certifi
chardet
idna
kiwisolver
lxml
#numpy
pandas
pyparsing
python-dateutil
python-dotenv
pytz
six
slack-sdk
urllib3
boto3
tweepy
aiohttp
yahoo_finance_api2
kaleido==0.1.0
plotly
yfinance
